<ng-include src="'views/header.html'"></ng-include>

<h2>Subscriptions With Issues</h2>
<ul>
    <li ng-repeat="subscription in subscriptionsWithIssues | orderBy:'-watchers_count' | limitTo: 20">
        {{ subscription.name }} | Last updated: {{ subscription.updated_at | date:'medium'}}
        <div class="repo-forks">{{ subscription.open_issues }}</div>
    </li>
</ul>

<h2>Subscriptions With Issues</h2>
<ul>
    <li ng-repeat="pr in pullRequests | orderBy:'-watchers_count' | limitTo: 20">
        <a ng-href="{{ pr.url }}" target="_blank">{{ pr.title }}</a> by {{ pr.publishedUserName }} | Date: {{ pr.publishedDate | date:'medium'}}<br />
        {{ pr.repositoryName }}

        <div class="repo-forks">{{ pr.open_issues }}</div>
    </li>
</ul>
