<ng-include src="'views/header.html'"></ng-include>

<form class="meme" ng-submit="submit()">
    <div class="meme-template">
        <img ng-src="{{ meme.imgObj.imgUrl }}" width="250" height="180" />
        <input type="text" ng-model="meme.title" class="meme-textline meme-textline-top"
               autofocus="autofocus"/>
        <input type="text" class="meme-textline meme-textline-bottom" ng-model="meme.text"/>
    </div>

    <input type="text" ng-model="meme.context" placeholder="Context" class="meme-context" />
    <select ng-model="meme.imgObj" ng-options="memeTemplate.name for memeTemplate in memeTemplates | orderBy: 'name'">
    </select>
    <input type="submit" value="Submit" id="memeForm__submit"/>
</form>