<ng-include src="'views/header.html'"></ng-include>

<div class="search">
    <input ng-model="search.$" placeholder="Search"> <a ng-click="search = ''" href>&#9447;</a>
    <ul class="filter">
        <li><a ng-click="search.type = ''; twitterClass=''; inTheKnowClass=''" href>All</a></li>
        <li>
            <a ng-click="search.type = 'meme'; inTheKnowClass=''; twitterClass=''"
               ng-class="memeClass" href>
                <img src="../images/meme-logo.png" class="filter-image"/></a>
        </li>        <li>
            <a ng-click="search.type = 'b-intheknow'; inTheKnowClass='selected'; twitterClass=''"
               ng-class="inTheKnowClass" href>
                <img src="../images/burrows_logo.png" class="filter-image"/></a>
        </li>
        <li>
            <a ng-click="search.type = 'twitter'; twitterClass='selected'; inTheKnowClass=''" ng-class="twitterClass" href>
                <img src="../images/twitter_logo_blue.png" class="filter-image"/></a>
        </li>
        <li>
            <a ng-click="search.type = 'raceReport'; twitterClass=''; inTheKnowClass=''" ng-class="forzaClass" href>
                <img src="../images/forza-logo.jpg" class="filter-image"/></a>
        </li>
    </ul>
</div>

<div ng-show="feed">
    <a ng-href="/#/create-meme/" class="meme-button">Add Meme</a>
</div>

<ul class="feed-list">
    <li ng-repeat="item in feed | filter: search | orderBy: '-publishedDate'" ng-switch="item.type" class="item item_{{ item.type }}">
        <div ng-switch-default>
            <h3><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
            <div class="item-date">{{ item.publishedDate | date:'medium'}}</div>
            <div class="item-desc" ng-bind-html="item.text"></div>
        </div>
        <div ng-switch-when="meme" class="meme">
            <div class="meme-template">
                <img ng-src="{{ item.imgUrl }}" width="250" height="180" />
                <span class="meme-textline meme-textline-top">{{ item.title }}</span>
                <span class="meme-textline meme-textline-bottom">{{ item.text }}</span>
            </div>

            <a ng-href="/#/create-meme/{{ item._id }}"><img src="../images/reply-logo.png" width="25" height="25" /></a>
            <div class="item-date">Context: <span ng-bind-html="item.context"></span></div>
            <div class="item-date">
                {{ item.publishedDate | date:'medium'}}
            </div>
            <a ng-href="/#/meme/{{ item._id }}" ng-show="item._id" style="font-size: 13px">View</a>
        </div>
    </li>
</ul>
