<ng-include src="'views/header.html'"></ng-include>

<form id="memeForm" ng-submit="submit()" >

    <fieldset id="meme">

        <input type="text" ng-model="memeLine1" class="meme__textline meme__textline--top" autofocus="autofocus" />

        <div id="meme__img" ng-style="memeImgWrapperStyles" >
            <input type="text" ng-model="memeImgUrl" ng-change="changeHandler()" placeholder="URL"/>
        </div>

        <input type="text" class="meme__textline meme__textline--bottom" ng-model="memeLine2" />

    </fieldset>

    <input type="submit" value="SUBMIT" id="memeForm__submit" />

</form>