<ng-include src="'views/header.html'"></ng-include>

<mer-feed class="column-2"
          mer-feed="feed"
          mer-orderby="'-publishedDate'"
          mer-limit="10"
          mer-title="'Recent Memes'"
          mer-filter="'meme'">
</mer-feed>

<mer-feed class="column-1"
          mer-feed="feed"
          mer-title="'Most Liked Memes'"
          mer-orderby="'-likes'"
          mer-limit="5"
          mer-filter="'meme'">
</mer-feed>

<mer-feed class="column-1"
          mer-feed="feed"
          mer-title="'Most Disliked Memes'"
          mer-orderby="'-dislikes'"
          mer-limit="5"
          mer-filter="'meme'">
</mer-feed>
