<form method="post" role="form" action="register">
    <% if (!username) { %>
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="Username" type="text"/>
    <% } %>

    <% if (username) { %>
    <span style="color: red;">Username is already taken.</span><br/>
    <label for="username">Username</label>
    <input id="username" name="username" value="<%= username %>" placeholder="Username" type="text"/>
    <% } %>
    <br/>

    <label for="email">Email</label>
    <input id="email" name="email" placeholder="Email" type="email"/>
    <br/>

    <label for="password">Password</label>
    <input id="password" name="password" placeholder="Password" type="password"/>
    <br />

    <button type="submit">Submit</button>
</form>
