<h2>{{ merTitle }}</h2>
<ul class="feed-list">
    <li ng-repeat="item in merFeed | filter: search | orderBy: merOrderby | limitTo : limit"
        ng-switch="item.type" class="item item_{{ item.type }}">
        <div ng-switch-default>
            <h3><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
            <div class="item-date">{{ item.publishedDate | date:'medium'}}</div>
            <div class="item-desc" ng-bind-html="item.text"></div>
        </div>

        <mer-view-meme ng-switch-when="meme" mer-meme="item"></mer-view-meme>
    </li>
</ul>
