<div class="sweepstake">
    <h2>Brazil World Cup 2014 Sweepstake</h2>
    <ul>
        <li ng-repeat="team in teams | orderBy: 'rank'" ng-hide="team.eliminated">
            <div class="owner">{{ team.owner }}</div>
            <div class="team">{{ team.country }} ({{ team.rank }})</div>
            <img src="http://www.geonames.org/flags/x/{{ccodes[team.country] | lowercase}}.gif" height="11" />
        </li>
    </ul>

    <ul class="eliminated">
        <li ng-repeat="team in teams | orderBy: 'rank'" ng-show="team.eliminated">
            <div class="owner">{{ team.owner }}</div>
            <div class="team">{{ team.country }} ({{ team.rank }})</div>
            <img src="http://www.geonames.org/flags/x/{{ccodes[team.country] | lowercase}}.gif" height="11" />
        </li>
    </ul>

    <div style="clear: both;"></div>
</div>
