html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e3e3e3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
}

a {
    color: #428bca;
    text-decoration: none;
}

input {
    color: inherit;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
}

.text-muted {
    color: #999999;
}

.search {
    position: absolute;
    top: 6px;
    left: 256px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
}

.filter {
    padding: 0;
    list-style: none;
}

.filter li {
    font-size: 18px;
    float: left;
    padding: 0 5px;
}

.filter-image {
    width: 25px;
}

ul.feed-list {
    padding: 0;
}

.item {
    float: left;
    width: 250px;
    height: 300px;
    padding: 0 10px 10px 10px;
    margin: 10px 10px 10px 0;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
}

.item.item_b-intheknow {
    background-image: url('../images/burrows_logo.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.item.item_twitter {
    height: 150px;
    background-image: url('../images/twitter_logo_blue.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.item-desc {
    width: 250px;
    height: 230px;
    text-align: left;
    font-size: 11px;
    overflow: scroll;
}

.item_twitter .item-desc {
    font-size: 15px;
    height: 85px;
}

.item-desc img {
    width: 50%;
}

.traffic-status {
    position: absolute;
}

.traffic-status .roads {
    width: 50px;
}

.traffic-status .road {
    width: 50px;
}

.traffic-status .road.good {
    background-color: green;
    color: #ffffff;
}

.traffic-status .road.accident {
    background-color: red;
}

/* MEME */
#meme {
    float: left;
    margin-top: 20px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

#meme .meme__textline {
    display: block;
}

#meme .meme__textline--top {
    margin-bottom: 20px;
}
#meme .meme__textline--bottom {
    margin-top: 20px;
}

#meme #meme__img {
    width: 400px;
    height: 300px;
    background: transparent url('/images/meme.jpg') no-repeat 50% 50%/contain;
}

#meme input {
    background: transparent;
    border: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px 1px #fff;
    border-radius: 10px;
}
#meme input:focus {
    outline: 0;
    box-shadow: 0 0 10px 1px #0cf;
}

#memeForm__submit {
    float: left;
    clear: both;
    width: 100px;
    margin: 30px 0 0 170px;
}
